* {
  margin: 0;
}
.app-header {
  position: sticky;
  top: 0;
  object-fit: contain;
  padding: 20px;
  border-bottom: lightgrey 1px solid;
  background-color: white;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.app {
  background-color: #fafafa;
}

.app-signup {
  display: flex;
  flex-direction: column;
}

.app-h3 {
  margin-left: auto;
  margin-right: auto;
}

.app-header-logo {
  object-fit: contain;
}
.app-posts {
  padding: 20px;
  display: flex;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
}
.app-h3 {
  text-align: center;
}
